<!DOCTYPE html>
<html>

<head></head>

<body>
  {%if saved %}
  <p class="saved">
    {{saved}}
  </p>
  {%endif%}
  <form method="post" novalidate>
    {% csrf_token %}
    <div>
      <div id="label">
        {{form.kind.label}}
      </div>
      <div id="input">
        {{form.kind}}
        {{form.kind.errors}}
      </div>
    </div>
    <div>
      <div id="label">
        {{form.current.label}}
      </div>
      <div id="input">
        {{form.current}}
        {{form.current.errors}}
      </div>
    </div>
    <div>
      <div id="label">
        {{form.increment.label}}
      </div>
      <div id="input">
        {{form.increment}}
        {{form.increment.errors}}
      </div>
    </div>
    <div>
      <div id="label">
        {{form.decrement.label}}
      </div>
      <div id="input">
        {{form.decrement}}
        {{form.decrement.errors}}
      </div>
    </div>
    <div>
      <div id="label">
        {{form.final.label}}
      </div>
      <div id="input">
        {{form.final}}
        {{form.final.errors}}
      </div>
    </div>
    <div style="padding: 20px;">
      <div style="margin-top: 100%;">
        <input type="submit" value="submit" />
      </div>
    </div>
  </form>
</body>
<style>
  div {
    padding: 5px;
    max-width: 200px;
    float: left;
  }

  #input {
    border: 1px solid black;
    width: 100%;

  }

  #label {
    height: 100px;
    border: 1px solid black;
    width: 100%;
  }

  .saved {
    background:green;
    width: 250px;
    padding: 12px;
    border-radius: 7px;
  }
</style>

</html>