<!DOCTYPE html>
<html>
<head></head>
<body>
  <form action="add/" method="post">
    {% csrf_token %}
    <!-- <label class="required" for="id_project">Project:</label>
    <select name="project" required="" id="id_project">
      <option value="" selected="">---------</option>
      {%for pro in Objs%}
      <option value="{{pro.id}}">{{pro.name}}</option>
      {%endfor%}
    </select>
    <label class="required" for="id_kind">Kind:</label>
    <select name="kind" required="" id="id_kind">
      <option value="" selected="">---------</option>
      {%for bed in Bed%}
      <option value="{{bed.id}}">{{bed.id}}</option>
      {%endfor%} -->
      <!-- <option value="other">Бусад</option> -->
    <!-- </select>
    <label class="required" for="id_current">Current:</label>
    <input type="number" name="current" class="vIntegerField" min="0" required="" id="id_current">
    <label class="required" for="id_increment">Increment:</label>
    <input type="number" name="increment" class="vIntegerField" min="0" required="" id="id_increment">
    <label class="required" for="id_decrement">Decrement:</label>
    <input type="number" name="decrement" class="vIntegerField" min="0" required="" id="id_decrement">
    <label class="required" for="id_final">Final:</label>
    <input type="number" name="final" class="vIntegerField" min="0" required="" id="id_final">
    <input type="submit" value="Save" class="default" name="_save"> -->
    {{form}}
    <input type="submit" value="submit" />
  </form>
</body>
</html>